{% extends 'base.html.twig' %}

{% block body %}
<div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <a href="cart.html">Cart</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Checkout</strong></div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12">
          <div class="border p-4 rounded" role="alert">
            Returning customer? <a href="#">Click here</a> to login
          </div>
        </div>
      </div>
      {{ form_start(form) }}
      <div class="row">
        <div class="col-md-6 mb-5 mb-md-0">
          <h2 class="h3 mb-3 text-black">Billing Details</h2>
          <div class="p-3 p-lg-5 border">
            <div class="form-group row">
              <div class="col-md-6">
                  {{ form_label(form.name) }}
                  {{ form_errors(form.name) }}
                  {{ form_widget(form.name) }}
              </div>
              <div class="col-md-6">
                  {{ form_label(form.firstname) }}
                  {{ form_errors(form.firstname) }}
                  {{ form_widget(form.firstname) }}
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12">
                  {{ form_label(form.adress) }}
                  {{ form_errors(form.adress) }}
                  {{ form_widget(form.adress) }}
              </div>
            </div>

            <div class="form-group row">
                <div class="col-md-12">
                    {{ form_label(form.zipcode) }}
                    {{ form_errors(form.zipcode) }}
                    {{ form_widget(form.zipcode) }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-12">
                    {{ form_label(form.city) }}
                    {{ form_errors(form.city) }}
                    {{ form_widget(form.city) }}
                </div>
            </div>

            

            


          


          </div>
        </div>
        <div class="col-md-6">
          
          <div class="row mb-5">
            <div class="col-md-12">
              <h2 class="h3 mb-3 text-black">Your Order</h2>
              <div class="p-3 p-lg-5 border">
                <table class="table site-block-order-table mb-5">
                  <thead>
                    <th>Product</th>
                    <th>Total</th>
                  </thead>
                  <tbody>
                    {% for order in orders %}
                    <tr>
                      <td>{{ order.productDetails.name }} <strong class="mx-2">x</strong> {{ order.quantity }}</td>
                      <td>{{ order.productDetails.price * order.quantity }} €</td>
                    </tr>
                    {% endfor %}
                    <tr>
                      <td class="text-black font-weight-bold"><strong>Cart Subtotal</strong></td>
                      <td class="text-black">{{ subtotal }} €
                      </td>
                    </tr>

                    <tr>
                      <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                      <td class="text-black font-weight-bold"><strong>{{ subtotal }} €</strong></td>
                    </tr>

                  </tbody>
                </table>

                <div class="border p-3 mb-3">
                  <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsebank" role="button" aria-expanded="false" aria-controls="collapsebank">Direct Bank Transfer</a></h3>

                  <div class="collapse" id="collapsebank">
                    <div class="py-2">
                      <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                    </div>
                  </div>
                </div>

                <div class="border p-3 mb-3">
                  <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsecheque" role="button" aria-expanded="false" aria-controls="collapsecheque">Cheque Payment</a></h3>

                  <div class="collapse" id="collapsecheque">
                    <div class="py-2">
                      <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                    </div>
                  </div>
                </div>

                <div class="border p-3 mb-5">
                  <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsepaypal" role="button" aria-expanded="false" aria-controls="collapsepaypal">Paypal</a></h3>

                  <div class="collapse" id="collapsepaypal">
                    <div class="py-2">
                      <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-lg py-3 btn-block">Place Order</button>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
      {{ form_end(form) }}
      <!-- </form> -->
    </div>
  </div>

{% endblock body %}