{% extends 'base.html.twig' %}

{% block body %}
<div class="site-section">
    <div class="container">
      <div class="row mb-5">
        <form action="{{ path('checkout') }}" class="col-md-12" method="post">
          <div class="site-blocks-table">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="product-thumbnail">Image</th>
                  <th class="product-name">{{'cart.product'|trans}}</th>
                  <th class="product-price">{{'cart.price'|trans}}</th>
                  <th class="product-quantity">{{'cart.quantity'|trans}}</th>
                  <th class="product-total">Total</th>
                  <th class="product-remove">{{'cart.remove'|trans}}</th>
                </tr>
              </thead>
              <tbody>
                {% for key, product in products %}
                <tr>
                  <td class="product-thumbnail">
                    <img src="{{ vich_uploader_asset(product.productDetails.imagePrincipale, 'imageFile') }}" alt="{{ product.productDetails.imagePrincipale.imageAlt }}" class="img-fluid">
                  </td>
                  <td class="product-name">
                    <h2 class="h5 text-black">{{ product.productDetails.name }}</h2>
                  </td>
                  <td>{{ product.productDetails.price }} €</td>
                  <td>
                    <div class="input-group mb-3" style="max-width: 120px;">
                      <div class="input-group-prepend">
                        <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                      </div>
                      <input name="quantity[]" type="text" class="form-control text-center" value="{{ product.quantity }}" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                      <div class="input-group-append">
                        <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                      </div>
                    </div>

                  </td>
                  <td>{{ product.total }} €</td>
                  <td><a href="{{ path('deletetocart', {'id' : product.productDetails.id}) }}" class="btn btn-primary btn-sm">X</a></td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
       
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="row mb-5">
            <div class="col-md-6">
              <a href="{{ path('produit_index')}}"class="btn btn-outline-primary btn-sm btn-block">{{'cart.continue'|trans}}</a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label class="text-black h4" for="coupon">Coupon</label>
              <p>Enter your coupon code if you have one.</p>
            </div>
            <div class="col-md-8 mb-3 mb-md-0">
              <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
            </div>
            <div class="col-md-4">
              <button class="btn btn-primary btn-sm">Apply Coupon</button>
            </div>
          </div>
        </div>
        <div class="col-md-6 pl-5">
          <div class="row justify-content-end">
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-12 text-right border-bottom mb-5">
                  <h3 class="text-black h4 text-uppercase">{{ 'cart.total'|trans }}</h3>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <span class="text-black">{{ 'cart.subtotal'|trans }}</span>
                </div>
                <div class="col-md-6 text-right">
                  <strong class="text-black">{{ subtotal }} €</strong>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-md-6">
                  <span class="text-black">Total</span>
                </div>
                <div class="col-md-6 text-right">
                  <strong class="text-black">{{ subtotal }} €</strong>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary btn-lg py-3 btn-block">{{'cart.checkout'|trans}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>


{% endblock body %}
