<div class="row mb-5">
    {% for product in products %}
    <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
        <div class="block-4 text-center border">
            <figure class="block-4-image">
                <a href="{{ path('produit_show', {'id': product.id}) }}"><img src="{{ vich_uploader_asset(product.imagePrincipale, 'imageFile') }}" alt="{{ product.imagePrincipale.imageAlt }}" class="img-fluid"></a>
            </figure>
            <div class="block-4-text p-4">
                <h3><a href="{{ path('produit_show', {'id': product.id}) }}">{{ product.name }}</a></h3>
                <p class="mb-0">{{ product.description | slice(0,60) }}...</p>
                <p class="text-primary font-weight-bold">{{ product.price }} €</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
