{% extends('base.html.twig') %}

{% block body %}

<div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Tank Top T-Shirt</strong></div>
      </div>
    </div>
  </div>  

  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="{{ vich_uploader_asset(produit.imagePrincipale, 'imageFile') }}" alt="{{ produit.imagePrincipale.imageAlt }}" class="img-fluid">
        </div>
        <div class="col-md-6">
          <h2 class="text-black">{{ produit.name }}</h2>
          <p>{{ produit.description }}</p>
          <em>Categorie : </em>
          {% for produitCategory in produit.categories %}
              <em class="mb-4">{{ produitCategory }} {% if not loop.last %}/{% endif %} </em>  
          {% endfor %}
          <br>
          <br>
          <p><strong class="text-primary h4">${{ produit.price }}</strong></p>
          <div class="mb-1 d-flex">
            <label for="option-sm" class="d-flex mr-3 mb-3">
              <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-sm" name="shop-sizes"></span> <span class="d-inline-block text-black">Small</span>
            </label>
            <label for="option-md" class="d-flex mr-3 mb-3">
              <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-md" name="shop-sizes"></span> <span class="d-inline-block text-black">Medium</span>
            </label>
            <label for="option-lg" class="d-flex mr-3 mb-3">
              <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-lg" name="shop-sizes"></span> <span class="d-inline-block text-black">Large</span>
            </label>
            <label for="option-xl" class="d-flex mr-3 mb-3">
              <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-xl" name="shop-sizes"></span> <span class="d-inline-block text-black"> Extra Large</span>
            </label>
          </div>
          <form action="{{ path('addtocart', {'id' : produit.id}) }}" method="POST">
            <div class="mb-5">
              <div class="input-group mb-3" style="max-width: 120px;">
              <div class="input-group-prepend">
                <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
              </div>
              <input type="text" name="quantity" class="form-control text-center" value="1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
              <div class="input-group-append">
                <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
              </div>
            </div>

            </div>
            <button type="submit" class="buy-now btn btn-sm btn-primary">Add To Cart</button>
        </div>
        </form>
      </div>
      <br>
      <br>
      <div class="row">
            <div class="flexslider carousel">
                <ul class="slides">
                  {% for produitImage in produit.images %}
                    <li>
                      <img src="{{ vich_uploader_asset(produitImage, 'imageFile') }}" alt="{{ produitImage.imageAlt }}" class="img-fluid">
                    </li>
                  {% endfor %}
                  <!-- items mirrored twice, total of 12 -->
                </ul>
              </div>
            
    </div>
  </div>


{% endblock body %}